body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.calculator {
    background-color: #c0ffc0;
    color : red;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 600px;
}
input, select, button {
    margin: 5px;
    padding: 10px;
    border: 2px dashed red;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    color: red;
}
.result {
    margin-top: 15px;
    padding: 10px;
    border: 2px dashed red;
    border-radius: 10px;
    text-align: left;
    background-color: #c0ffc0;
    font-size: 18px;
}
.muted {
    opacity: 0.5;
}
@media(max-width: 480px){
    input, select, button {
        padding: 8px;
    }
}